.bg-purple {
    background-color: #A200FF;
    color: #FFF;
}

.bg-magenta {
    background-color: #FF0097;
    color: #FFF;
}

.bg-teal {
    background-color: #00ABA9;
    color: #FFF;
}

.bg-lime {
    background-color: #8CBF26;
    color: #FFF;
}

.bg-brown {
    background-color: #A05000;
    color: #FFF;
}

.bg-pink {
    background-color: #E671B8;
    color: #FFF;
}

.bg-orange {
    background-color: #F09609;
    color: #FFF;
}

.bg-blue {
    background-color: #1BA1E2;
    color: #FFF;
}

.bg-red {
    background-color: #E51400;
    color: #FFF;
}

.bg-green {
    background-color: #339933;
    color: #FFF;
}