.bg-light-green {
  background-color: #99b433;
}
.bg-green {
  background-color: #00a300;
}
.bg-dark-green {
  background-color: #1e7145;
}
.bg-magenta {
  background-color: #ff0097;
}
.bg-light-purple {
  background-color: #9f00a7;
}
.bg-purple {
  background-color: #7e3878;
}
.bg-dark-purple {
  background-color: #603cba;
}
.bg-darken {
  background-color: #1d1d1d;
}
.bg-teal {
  background-color: #00aba9;
}
.bg-light-blue {
  background-color: #eff4ff;
}
.bg-blue {
  background-color: #2d89ef;
}
.bg-dark-blue {
  background-color: #2b5797;
}
.bg-yellow {
  background-color: #ffc40d;
}
.bg-orange {
  background-color: #e3a21a;
}
.bg-dark-orange {
  background-color: #da532c;
}
.bg-red {
  background-color: #ee1111;
}
.bg-dark-red {
  background-color: #b91d47;
}
.bg-white {
  background-color: #ffffff;
}

